{% extends 'base.html' %}
{% block content%}

<!-- Body Section -->
<div class="container wrapper">
    <div class="row">
        {% for article in articles%}
        <div class="col-md-6">
            <div class="card border-dark flex-fill">
                <a href="{{article.url}}" target="_blank">
                </a>
                <div class="card-body">
                    <h4 class="card-title">{{article.title}}</h4>
                    <hr>
                    <p style="font-size: 15px;">{{article.description|truncate(200)}}...
                        <a style="font-size: 15px;" class="btn btn-success"href="{{article.url}}" target="_blank">View Article on site</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}