<link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">

{% macro displayNewsourceList(newsource_list)%}
<div class="container-fluid">
    <div  class="row">
        {% for newsource in newsource_list %}
        <div class="card" style="color: black;">
            <div class="card-body">
                <div class="card-header">
                    <a href="{{newsource.url}}" target="_blank">
                        <h4 style="color: black" class="card-title" >{{newsource.name}}</h4>
                    </a>
                </div>
                <div class="card-body">
                    <p>{{newsource.description|truncate(200)}}</p>
                    <a style="font-size: 15px" class="btn btn-success" href="/articles/{{newsource.id}}">Read More...</a>
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}
