<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a style="font-size: 3em;"class="navbar-brand" href="#">24News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a style="font-size: 2.5em;"class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a style="font-size: 2.5em;"class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a style="font-size: 2.5em;"class="dropdown-item" href="#general" target="_blank">General</a>
            <a style="font-size: 2.5em;"class="dropdown-item" href="#business" target="_blank">Business</a>
            <a style="font-size: 2.5em;"class="dropdown-item" href="#technology" target="_blank">Technology</a>
            <a style="font-size: 2.5em;"class="dropdown-item" href="#science" target="_blank">Science</a>
            <a style="font-size: 2.5em;"class="dropdown-item" href="#health" target="_blank">Health</a>
            <a style="font-size: 2.5em;"class="dropdown-item" href="#sports" target="_blank">Sports</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>